

<%=flash[:notice]%>

<% @shoes.each do |shoe| %>
    <h3><ul>
    <li> Model: <%= link_to shoe.model, shoe_path(shoe) %> </li>
    <li> Brand: <%= shoe.brand %> </li>
    </ul></h3>
    <br>
<% end %>

<%= link_to "Create New Shoe", new_shoe_path%>
